.HomeHeader {
    background-color: rgb(228, 231, 235);
    height: 500px;
}



.valuesContainer {
    background-color: rgb(32, 129, 129);
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.column {
    background-color: aquamarine;
    color: brown;
    flex-direction: column;
    width: 30%;
}

.row {
    background-color: rgb(70, 190, 150);
    color: rgb(142, 165, 42);
    width: 30%;
    /* flex-wrap: wrap; */
}

.iconsInHome {
    width: 170px;
    height: 180px;
}